Repository DimpleOrg/PythonRepository, pull requests merged in 2021-04, with the labels that each got.

#9 Adding code for 15-1, 15-2
  Python Crash Course/vAnil/Chapter-14/15-1.py
  Python Crash Course/vAnil/Chapter-14/15-2.py
  Python Crash Course/vAnil/Chapter-14/15-3.py
  Python Crash Course/vAnil/Chapter-14/15-4.py
  Python Crash Course/vAnil/Chapter-14/15-5.py
  Python Crash Course/vAnil/Chapter-14/__pycache__/random_walk.cpython-38.pyc
  Python Crash Course/vAnil/Chapter-14/__pycache__/random_walk_15_4.cpython-38.pyc
  Python Crash Course/vAnil/Chapter-14/random_walk.py
  Python Crash Course/vAnil/Chapter-14/random_walk_15_4.py
  Python Crash Course/vAnil/Chapter-14/random_walk_15_5.py
Labels: PythonCrashCourse

#8 Adding List Program 1 to 16
  GeeksforGeeks/vAnil/03. List Programs/1.py
  GeeksforGeeks/vAnil/03. List Programs/10.py
  GeeksforGeeks/vAnil/03. List Programs/11.py
  GeeksforGeeks/vAnil/03. List Programs/12.py
  GeeksforGeeks/vAnil/03. List Programs/13.py
  GeeksforGeeks/vAnil/03. List Programs/14.py
  GeeksforGeeks/vAnil/03. List Programs/15.py
  GeeksforGeeks/vAnil/03. List Programs/16.py
  GeeksforGeeks/vAnil/03. List Programs/17.py
  GeeksforGeeks/vAnil/03. List Programs/18.py
  GeeksforGeeks/vAnil/03. List Programs/19.py
  GeeksforGeeks/vAnil/03. List Programs/2.py
  GeeksforGeeks/vAnil/03. List Programs/20.py
  GeeksforGeeks/vAnil/03. List Programs/3.py
  GeeksforGeeks/vAnil/03. List Programs/4.py
  GeeksforGeeks/vAnil/03. List Programs/5.py
  GeeksforGeeks/vAnil/03. List Programs/6.py
  GeeksforGeeks/vAnil/03. List Programs/7.py
  GeeksforGeeks/vAnil/03. List Programs/8.py
  GeeksforGeeks/vAnil/03. List Programs/9.py
  Python Crash Course/vAnil/Chapter-14/__pycache__/random_walk_15_5.cpython-38.pyc
Labels: GeeksForGeeks

#11 Adding codes for List Programs and Data Visualization.
  GeeksforGeeks/vDimple/Basic Programs/copying_list.py
  GeeksforGeeks/vDimple/Basic Programs/count_element_inlist.py
  GeeksforGeeks/vDimple/Basic Programs/even_nos.py
  GeeksforGeeks/vDimple/Basic Programs/even_nos_inRange.py
  GeeksforGeeks/vDimple/Basic Programs/min_max_list.py
  GeeksforGeeks/vDimple/Basic Programs/n_largest.py
  GeeksforGeeks/vDimple/Basic Programs/negative_nos.py
  GeeksforGeeks/vDimple/Basic Programs/negative_nos_positive_nos_inRange.py
  GeeksforGeeks/vDimple/Basic Programs/odd_nos_inRange.py
  GeeksforGeeks/vDimple/Basic Programs/odd_numbers.py
  GeeksforGeeks/vDimple/Basic Programs/positive_nos.py
  GeeksforGeeks/vDimple/Basic Programs/product_of_list_elements.py
  GeeksforGeeks/vDimple/Basic Programs/remove_empty_list.py
  GeeksforGeeks/vDimple/Basic Programs/remove_empty_tuples.py
  GeeksforGeeks/vDimple/Basic Programs/remove_in_list.py
  GeeksforGeeks/vDimple/Basic Programs/second_largest.py
  GeeksforGeeks/vDimple/Basic Programs/sum_of_list.py
  Python Crash Course/vDimple/Ch 15/15_1.py
  Python Crash Course/vDimple/Ch 15/15_10.py
  Python Crash Course/vDimple/Ch 15/15_2.py
  Python Crash Course/vDimple/Ch 15/15_3.py
  Python Crash Course/vDimple/Ch 15/15_4.py
  Python Crash Course/vDimple/Ch 15/15_6.py
  Python Crash Course/vDimple/Ch 15/15_7.py
  Python Crash Course/vDimple/Ch 15/15_8.py
  Python Crash Course/vDimple/Ch 15/15_9.py
  Python Crash Course/vDimple/Ch 15/__pycache__/die.cpython-38.pyc
  Python Crash Course/vDimple/Ch 15/__pycache__/random_walk.cpython-38.pyc
  Python Crash Course/vDimple/Ch 15/__pycache__/random_walk_15_4.cpython-38.pyc
  Python Crash Course/vDimple/Ch 15/__pycache__/random_walk_15_5.cpython-38.pyc
  Python Crash Course/vDimple/Ch 15/die.py
  Python Crash Course/vDimple/Ch 15/random_walk.py
  Python Crash Course/vDimple/Ch 15/random_walk_15_4.py
  Python Crash Course/vDimple/Ch 15/random_walk_15_5.py
  Python Crash Course/vDimple/Ch 15/squares_plot.png
Labels: GeeksForGeeks, PythonCrashCourse

#10 Adding 21-25 of list programs
  GeeksforGeeks/vAnil/03. List Programs/21.py
  GeeksforGeeks/vAnil/03. List Programs/22.py
  GeeksforGeeks/vAnil/03. List Programs/23.py
  GeeksforGeeks/vAnil/03. List Programs/24.py
  GeeksforGeeks/vAnil/03. List Programs/25.py
  GeeksforGeeks/vAnil/03. List Programs/26.py
  GeeksforGeeks/vAnil/03. List Programs/27.py
  GeeksforGeeks/vAnil/03. List Programs/28.py
  GeeksforGeeks/vAnil/03. List Programs/29.py
  GeeksforGeeks/vAnil/03. List Programs/30.py
Labels: GeeksForGeeks
